.mainPanel {
    background-color: var(--back-sheet);
    padding: 1.5rem;
    border-radius: 1rem;
    position: relative;
    z-index: 1;
    backdrop-filter: blur(8px);
    margin: 0 2rem;
    visibility: hidden;
    opacity: 0;
    transform: translateX(-100%);
    transition: all .3s ease;
    height: calc(100vh - 9rem);
    overflow-y: auto;
}

.mainPanel.activePanel {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.upperPanel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.gridPanel {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
}

.gridItemPanel {
    border-radius: 1rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #F5F1EB;
}