.mention {
    font-size: 0.7rem;
    font-weight: lighter;
    color: rgba(0,0,0,0.3)
}


.citySheetWrapper {
    margin: 0 0 0 2rem;
    position: absolute;
    z-index: 1;
    visibility: hidden;
    transform: translateX(-100%);
    opacity: 0;
    width: calc(17rem + 14vw);
    transition: all .2s ease;
}

.citySheetWrapper.activeSheets {
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
}

.citySheetWrapper.activeSheetsWithHeight {
    height: calc(100vh - 8rem);
    overflow-y: auto;
}

.cityBoxWrapper {
    width: 100%;
    border-radius: 1rem;
    background-color: var(--back-sheet);
    backdrop-filter: blur(8px);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.cityBoxWrapper.darkTheme, .foundCityBox.darkTheme section {
    backdrop-filter: blur(20px);
}

.foundCityBox {
    display: none;
}

.foundCityBox.showFoundCityBox {
    display: contents;
}

.foundCityBox section {
    padding: 1.5rem;
    width: 100%;
    border-radius: 1rem;
    backdrop-filter: blur(8px);
    background-color: var(--back-sheet);
    margin-bottom: 1rem;
}

.foundCityBox section > h3 {
    margin-bottom: 1rem;
}

.foundCityBox .showOnMapSection > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}

.showOnTransportSheetHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    position: relative;
}

.showOnTransportSheetHeader svg {
    cursor: pointer;
}

.showOnTransportSheetHeader path {
    transition: all 100ms ease-in-out;
}

.showOnTransportSheetHeader svg:hover path {
    fill: #333333;
}

.showOnTransportSheetHeader svg:hover + div {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.showOnTransportSheetHeader div {
    z-index: 2;
    width: 11rem;
    height: 7.3rem;
    background-color: rgba(0, 0, 0, .8);
    color: #FFF;
    border-radius: 1rem;
    position: absolute;
    right: 2.7rem;
    top: 2rem;
    font-size: .7rem;
    padding: 0.6rem;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    transform: translateX(10px);
    transition: all 100ms ease-in-out;
}

/*.foundCityBox .showOnMapSection .showOnTransportSheet::before {*/
/*    content: "Hello";*/
/*    position: absolute;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    right: 0;*/
/*    top: 0;*/
/*}*/

/*.foundCityBox .showOnMapSection .showOnTransportSheet::after {*/
/*    content: "Наведи на мена";*/
/*    position: absolute;*/
/*    right: 0;*/
/*    top: 0;*/
/*}*/

/*.foundCityBox .showOnMapSection .showOnTransportSheet::after:hover .showOnTransportSheet::before {*/
/*    visibility: visible;*/
/*}*/

.foundCityBox .showOnMapSection span:not(.showOnTransportSheetHeader) {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}

.infoOfCity {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin-top: 1rem;
}


.formOfFindBox {
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: normal;
    font-style: normal;
}

.formOfFindBox p {
    margin-bottom: 1.5rem;
}

.searchButton {
    position: absolute;
    background-color: #1069FF;
    padding: 0.6rem;
    border-radius: 50%;
    line-height: 0;
    right: 1rem;
    top: 1rem;
}

.foundCityBoxHeader span {
    font-weight: 700;
}

.foundCityBoxHeader h3 {
    font-size: 2rem;
    font-weight: 700;
}

.foundCityBoxHeader > div p {
    font-size: 1.18rem;
}

.inputSection {
    position: relative;
}

.inputSection input {
    width: 100% !important;
}

.typeOfMapButtons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1rem;
}

.btnTypeOfMap {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.6rem;
    width: calc(5.4rem + 8vw);
    height: 4.75rem;
    padding: 1rem 0.7rem;
    border-radius: 1rem;
    border: 1px solid var(--btn-black);
    overflow: hidden;
    transition: all 100ms ease-in-out;
}

.btnTypeOfMap:hover {
    background-color: rgba(0, 0, 0, .2);
}

.btnTypeOfMap span {
    font-size: calc(0.7rem + 0.3vw);
    font-weight: 400;
    text-align: left;
    width: min-content;
}

.btnTypeOfMap svg {
    min-width: calc(1rem + 1.5vw);
}

.btnTypeOfMap.pickedBtnType {
    background-color: var(--btn-black);
    color: #FFF;
}

.btnTypeOfMap.pickedBtnType path {
    fill: #FFF;
}

.typeOfMapTransportBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
}

.typeOfMapTransportButton {
    border-radius: 1rem;
    border: 1px solid var(--btn-black);
    padding: .5rem;
    transition: all 100ms ease-in-out;
}

.typeOfMapTransportButton:hover {
    background-color: rgba(0, 0, 0, .2);
}

.typeOfMapTransportButton.activeTransportButton, .typeOfMapTransportButton.activeTransportButton path {
    background-color: var(--btn-black);
    fill: #FFF;
}

/*
Compound Sheets hide on show panel
 */


.itemBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.hexSheetInfoWrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 2rem;
}

.hexSheetTable {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    padding: 1.5rem 2rem;
    background-color: var(--back-sheet);
    border-radius: 1rem;
    width: fit-content;
}


.hexSheetTable div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.showClosed {
    transform: rotate(180deg);
}

.mapLoaderWrapper {
    position: absolute;
    margin: 0;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    display: block;
    z-index: 10000;
}

.noDataBox {
    text-align: center;
    color: rgba(100, 100, 100, 100);
}

@keyframes fadeInFromNone {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}

@keyframes fadeOutFromBlock {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }

}
