.navbar {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 3;
}

.navbar.darkTheme .headerOfSheets path {
    fill: var(--btn-black);
}

.navbar.darkTheme .headerOfSheets button {
    background-color: var(--back-sheet);
    color: var(--btn-black);
}

.panelButton {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 1.375rem;
    background-color: var(--btn-black);
    font-size: 1.25rem;
    font-weight: 700;
    color: #FBFBFB;
}

.panelButton.geoButton svg {
    transition: all .2s ease;
}

.panelButton.geoButton:hover svg {
    transform: translateX(-0.5rem);
}


.headerOfSheets {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
}


.headerOfSheets button:not(.panelButton) {
    background-color: var(--btn-black);
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
